<div class="container-fluid bg_navy_blue footer_shadow">

  <div class="footer_space">

      <div class="row container_at_1665">

        <div class="col-xl-6 col-lg-6 col-md-6" >
          <p class="font_13 font_white">© Copyright&nbsp;2010-2021 <span class="font_light_blue">Mercantile&nbsp;Investments&nbsp;and&nbsp;Finance&nbsp;PLC.</span> All&nbsp;rights&nbsp;reserved.</p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
          <p class="font_13 font_white footer_space_text_center"><span class="font_light_blue"><b>Solution</b></span>&nbsp;by Mercantile&nbsp;Investment&nbsp;IT&nbsp;Team</p>
        </div>
        
      </div>

  </div>

</div>
