#menuToggle_right {
  background:rgba(220,38,38, 0.9);
  border-bottom-left-radius: .5rem!important;
  border-top-left-radius: .5rem!important;
  width: 40px;
  height: 40px;
  top: 198px;
  right: 0px;
  -webkit-user-select: none;
  font-size: 19px;
  user-select: none;
  display: block;
  position: fixed;
  z-index: 2;
}

#menuToggle_right input {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
  -webkit-touch-callout: none;
}

#menuToggle_right span {
  background:rgba(220,38,38, 0.9);
  border-bottom-left-radius: .5rem !important;
  border-top-left-radius: .5rem !important;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 19px;
  top: 0px;
  right: 0px;
  -webkit-user-select: none;
  user-select: none;
  display: block;
  z-index: 2;
  position: absolute;
}

#menuToggle_right input:checked ~ div {
  transform: scale(1.0, 1.0);
  opacity: 1;
}

#menu_right_wrapper {
  background: #fff;
  border-left: 1px solid #d7d7d7;
  position: fixed;
  width: 300px;
  height: 94vh;
  margin: 0;
  right: 0px;
  top: 64px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  color: #000;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  box-shadow: 0px 10px 10px 13px rgb(104 158 226 / 9%), 10px 10px 15px -5px #b0b8d6;
  z-index: 1;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  overflow-y: auto;
}

// padding: 25px 51px 21px 43px;

.position_fa_spin {
  padding: 10px;
}

.right_menu_padding {
  padding: 20px 20px 20px 20px !important;
}

.top_2 {
  top: -4px;
  position: relative;
}

.form_right_input_height {
  height: 38px !important;
}

.form_right_textarea_height {
  height: 156px !important;
}

.form_right_input, .form_right_txtarea {
  width: 100% !important;
  padding: 0px 10px !important;
  color: #565656 !important;
  cursor: auto !important;
  border: 1px solid #ced4da !important;
  -webkit-user-select: text !important;
  font-size: 13px !important;
  user-select: text !important;
  opacity: inherit !important;
  position: relative !important;
  box-sizing: border-box !important;
}

.form_right_input, .form_right_txtarea:focus {
  outline: none;
}
